.main {
    &__head {
        font-size: 12px;
        color: #fff;
        background: #000;
    }
    &__nav {
        margin: 30px 0;
    }
    &__item {
        padding: 5px;
        text-decoration: none;
    }
}
