<div class="order">
    <div class="order__header">
        {{ selectedPair.title }} Last Orders
        <select [(ngModel)]="selectedPair" (ngModelChange)="applyFilter($event)">
            <option *ngFor="let pair of pairs" [ngValue]="pair">
                {{ pair.title }}
            </option>
        </select>
    </div>
    <table class="order__list">
        <tr>
            <td *ngFor="let row of rows" [innerHtml]="row.title">
            </td>
        </tr>
        <tr 
            class="order__item"
            *ngFor="let order of orders">
                <td *ngFor="let col of rows" >
                    <a 
                        *ngIf="isLink(col)"
                        [innerHtml]="col.func(order[col.key])" 
                        routerLink="/order/{{ order[col.key]}}"></a>
                    <span *ngIf="!isLink(col)" [innerHtml]="col.func(order[col.key])"></span>
                </td>
        </tr>
    </table>
    <button (click)="onOrder()">
        Order
    </button>
</div>
