.trade-log {
    font-size: 12px;
    &__header {
        font-size: 20px;
        margin: 0px;
        font-weight: normal;
    }
    &__list {
        list-style: none;
        border: 1px solid #000;
        height: 410px;
        overflow: scroll;
        padding: 5px;
        margin: 0px;
    }
}
