<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    {% block head %}
        <title>{{ title }}</title>
    {% endblock %}
    <base href='/'/>
  </head>
  <body id="app">
    {% block content %}
    {% endblock %}
    <app>
    </app>
    <!--script src="{{ url('static', filename='polyfills-es2015.js') }}"></script-->
    <script src="{{ url('static', filename='main-es2015.js') }}"></script>
    <script src="{{ url('static', filename='runtime-es2015.js') }}"></script>
    <link rel="stylesheet" type="text/css"
          href="{{ url('static', filename='style.css') }}" />
  </body>
</html>
